* {
  font-family: 'Cabin', sans-serif;
}

@media all and ( min-width: 1075px) {
  #mobileLogo img {
    display: none;
  }
}

@media all and ( max-width: 1075px )
{
  #logo img {
    position: absolute;
    top: 0;
    left: -432px;
    visibility: hidden;
  }

  li.link.nonlogo {
  width: 25%;
  text-align: center;
  }

  #mobileLogo {
    display: flex;
    height:120px;
  }

  #mobileLogo img {
    width: 200px;
    margin: auto;
  }

  .navbar.navbar-default {
    margin-bottom: 0px;
  }
}

@media all and (max-width: 768px ) {
  #logo img {
    position: absolute;
    top: 0;
    left: 0px;
    visibility: hidden;
  }


  li.link.nonlogo {
    width: 100%;
    text-align: center;
  }

  ul.nav.navbar-nav.navbar-left.new {
    width: 100%;
    height: 300px;
    margin-left: 0%;
  }

}

div#nameTag {
position: relative;
width: 40%;
top: 75px;
margin-left: 60%;
background-color: rgba(255,255,255,.7);
padding: 15px;
text-align: center;
color: grey;
font-size: 15px;
}

input:focus {outline:none;}
textarea:focus {outline:none;}

input {
  border: 3px solid grey;
  color: black;
}

.aboutLeft {
margin-left: 5%
}

div#header {
width: 100%;
display: flex;
}

div#title {
margin: auto;
margin-bottom: 30px;
margin-top: 40px;
font-size: 30px;
color: rgba(45,45,113,.8);
border-bottom: 1px solid rgba(45,45,113,.8);
}

.aboutImage {
  width: 71%;
height: 640px;
background-image: url("Brooke2.jpg");
background-size: cover;
margin: auto;
display: flex;
}

#imageBorder {
  width: 100%;
  margin: 7px;
border: 2px solid white;
}

#messageArea {
height: 300px;
width: 75%;
border: 3px solid grey;
color: black;
}

a.navbar-brand {
margin-top: -50px;
margin-bottom: 30px;
}

div#navbar-collapse-1 {
border: none;
}

ul.nav.navbar-nav.navbar-left {
width: 80%;
margin-left: 10%;
}

li.link {
width: 20%;
text-align: center;
}

.navbar-default div div#logo {
display: none;
}

.navbar-left {
height: 100px;
}

#logo img {
width: 192px;
}

.navbar-default {
background-color: #f8f8f8;
border: none;
}

li.link.nonlogo {
margin-top: 20px;
}

div#listings {
font-size: 50px;
text-align: center;
margin-top: 160px;
margin-bottom: 260px;
}

div#form {
text-align: center;
}

textarea#user_message {
height: 300px;
width: 500px;
}

div#body {
  display: flex;
  width: 100%;
}

div#container {
width: 80%;
margin: auto;
background-color: rgba(45,45,113,.8);
}

div#form {
margin: 7px;
border: 2px solid white;
padding: 20px;
color: white;
}

input[type="submit"] {
background-color: white;
border: 1px solid grey;
}

.item {
width: 905;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
line-height: 1;
margin: auto;
}

li.link.nonlogo a {
font-size: 22px;
}

body {
  display: flex;
}

div#window {
  width: 99%;
  margin: 7px;
  border: 2px solid #00008F;
  border-right: 2px solid #00008F;
}

div#menu {
  margin-left: 5%;
  width: 90%;
  height: 125;
  display: inline-flex;
  font-family: GothamNarrow;
  text-decoration: none;
}

.menuLink {
  width: 20%;
  height: 125;
  display: inline-flex;
  text-decoration: none;
}

.menuLinkContents {
  margin: auto;
  display: inline-block;
}

#logo {
  position: relative;
  top: 0;

}

#logo img {
  width: 250;
  height: 125;
  }

li#logo a {
padding: 0;
}

.navbar-default .navbar-nav>li>a {
color: rgb(0,0,120);
font-size: 15px;
padding-bottom: 0px;
}

li.link p {
margin: 0 0 10px;
font-size: 12px;
visibility: hidden;
}

li.link:hover p {
  visibility: visible;
}

.menulink a {
  text-decoration: none;
}

.menuLink a p {
  margin: auto;
  width:100%;
  text-decoration: none;
  color: rgb(0,0,120);
  font-size: 20px;
  letter-spacing: 3;
  text-align: center;
}

.menuLink h6 {
  margin: auto;
  width: 100%;
  font-size: 11px;
  text-align: center;
  padding-top: 5;
}

div#middle1 {
  width: 100%;
  height: 650px;
  display: flex;
}

div#container2 {
  width: 80%;
  height: 640px;
  background-image: url("images/overlay.png"),url("images/BHM2.jpg");
  background-size: cover;
  margin: auto;
  display: flex;

}

div#intro1 {
  width: 100%;
  height: 625px;
  margin: 7px;
  border: 2px solid white;
  text-align: center;
  font-family: GothamNarrow;
  color: white;
}

div#intro h1 {
  position: relative;
  font-size: 50px;
  top: 75px;
}

div#intro p {
position: relative;
width: 70%;
top: 90px;
font-size: 25px;
word-wrap: inherit;
margin: auto;
letter-spacing: 2px;
}

div#intro p italic {
  font-family: GothamNarrowItalic;
}

div#footer {
  width: 100%;
  height: 100px;
  display: flex;
}

div#copyright {
  width: 100%;
  margin: auto;
  font-family: GothamNarrow;
  padding-top: 40px;
  opacity: .5;
}

div#copyright p {
  text-align: center;
}

div#copyright p a {
  text-decoration: none;
  color: #00008F;
}

{}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

