<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>Thanks for signing in <%= @matchuser.name %>!</div>
  </br>
    <div>Be on the look out for more info coming your way!<div>
    </br>
    <div>Thanks!</div>
    <div>Brooke</div>
  </body>
</html>
