<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="matchEmail"><%= @matchuser.name %>!</div>

    <p class="matchEmail">Thank you for coming to the MATCH MADNESS party at BCC! This is such an exciting time, and thanks for coming to kick it off with us!.</p>

    <p class="matchEmail">Enjoy your next few months as you wait for Match Day, and please know that I am here to be a resource for you and make the moving process a very easy transition. Of course I hope your residency keeps you in Birmingham, but I would love to give you advice and help with the moving process wherever your residency takes you.<p>

    <div>All the best,</div>
    <div>Brooke</div>
  </body>
</html>
