<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div><%= @matchuser.name %>!</div>
  </br>
    <div>Thank you for coming to the MATCH MADNESS party at Slice! This is such an exciting week, and a huge accomplishment to celebrate.

Enjoy your next few days as you wait for Match Day, and please know that I am here to be a resource for you and make the moving process a very easy transition. Of course I hope your residency keeps you in Birmingham, but I would love to give you advice and help with the moving process wherever your residency takes you.<div>
    </br>
    <div>All the best,</div>
    <div>Brooke</div>
  </body>
</html>
