<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div><%= @user.name %></div>
    <div><%= @user.email %></div>
    <p><%= @user.message %></p>
  </body>
</html>
