

      <div id="middle">
        <div id="container1">
          <div id="intro">
            <!-- <h1>The Daily Rec</h1> -->
            <p>"The best place for Real Estate recs and community news in the <italic>Magic City</italic>"</p>
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="copyright">
          <p>Copyright The Daily Rec 2015 | Designed by <a href="http://www.thethird.co">Trey Jackson</a></p>
        </div>
      </div>
