


  <div>
      <div id="middle1" class="mobile">
        <div class="containerHome new">
          <%= image_tag "BHM2.jpg", :class => "rotating-item" %>
          <%= image_tag "MB.jpg", :class => "rotating-item" %>
          <div class="introHome new"></div>
        </div>
      </div>
