
<div>
  <div id="aboutUs">

  <div id="header">
    <div id="title1">ABOUT US</div>
  </div>

  <div class="row about">
    <div class="col-md-5 aboutLeft1">
      <div class="aboutImage1 quater mobile">
        <div id="imageBorder1">
        </div>
      </div>
    </div>
    <div class="col-md-5 aboutRight">
      <div class="aboutInfo mobile">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>

<div class="wrap mobile">
  <div class="instaTitle2 mobile">INSTAGRAM </div>
  <div class="instaTitle3 mobile"><a href="http://www.instagram.com/thedailyrec">@THEDAILYREC</a></div>
  <div class="instaHolder2 mobile">
    <% @images.each do |image| %>
    <div class="insta2 mobile">
      <img src="<%= image %>">
    </div>
    <% end %>
  </div>


</div>
</div>
</div>
