
<div>
  <div id="aboutUs">
<div id="buffer"></div>

  <div class="row about">
    <div class="col-md-5 aboutLeft1">
      <div class="aboutImage1 quater mobile">
        <div id="imageBorder1">
        </div>
      </div>
    </div>
    <div class="col-md-5 aboutRight">
      <div class="aboutInfo mobile">
        <p>A native of Birmingham, AL by way of, well nowhere, that just sounded good. I have a deep admiration for the city of Birmingham and it's everchanging horizon. I grew up observing the world around me from a perspective of helping others. I wanted to be an attorney, a politican (let's be honest, President of the United States), a nurse, and an actress...can you say indecisive? I ultimately channeled all of those passions into real estate. I love the way I can help people in my job, and this new creative outlet that is "The Daily Rec." is a further extension of my love of all things note-worthy and unique.</p>
      </div>
    </div>
  </div>

  <div id="header">
    <div id="title1">WHAT I LOVE</div>
  </div>

  <div class="row love">
    <p>weather in the mid-70s
    </br>
      French 75s
</br>
      daily crossword puzzles
</br>
      clean sheets
</br>
      juicing
</br>
      walking around the grocery store
</br>
      dark chocolate anything
</br>
      snail mail
</br>
      kale flavored anything
</br>
      teacup pigs (christmas list, 7 years running)
</br>
      vintage MGB's
</br>
      Jeni's Salty Caramel Ice Cream
</br>
      my grandad and his knack for real estate
</br>
      macaroons
</br>
      the thrill of the hunt
</br>
      Dubai</p>
  </div>

<div class="wrap mobile">
  <div class="instaTitle2 mobile">INSTAGRAM </div>
  <div class="instaTitle3 mobile"><a href="http://www.instagram.com/thedailyrec">@THEDAILYREC</a></div>
  <div class="instaHolder2 mobile">
    <% @images.each do |image| %>
    <div class="insta2 mobile">
      <img src="<%= image %>">
    </div>
    <% end %>
  </div>


</div>
</div>
</div>
