

<div id="listings">Blog Coming Soon!</div>
  <div class="wrap mobile">
    <div class="instaTitle2 mobile">INSTAGRAM @THEDAILYREC</div>
    <div class="instaHolder2 mobile">
      <% @images.each do |image| %>
      <div class="insta2 mobile">
        <img src="<%= image %>">
      </div>
      <% end %>
    </div>
