
<div id="header">
  <div id="title1">Blog</div>
</div>
<div id="listings">Blog Coming Soon!</div>
  <div id="holder2">
    <div id="instagramTitle2">INSTAGRAM @THEDAILYREC</div>
    <div id="instagramHolder2">
      <% @images.each do |image| %>
      <div class="instagram2">
        <img src="<%= image %>">
      </div>
      <% end %>
    </div>
