
<div id="header">
  <div id="title1">FAQ</div>
</div>
<div id="listings">FAQ Coming Soon!</div>

<div class="wrap mobile">
  <div class="instaTitle2 mobile">INSTAGRAM </div>
  <div class="instaTitle3 mobile">@THEDAILYREC</div>
  <div class="instaHolder2 mobile">
    <% @images.each do |image| %>
    <div class="insta2 mobile">
      <img src="<%= image %>">
    </div>
    <% end %>
  </div>
