
<div id="header">
  <div id="title1">FAQ</div>
</div>
<div id="listings">FAQ Coming Soon!</div>

<div id="Holder">
  <div id="instagramTitle">INSTAGRAM @THEDAILYREC</div>
  <div id="instagramHolder">
    <% @images.each do |image| %>
    <div class="instagram">
      <img src="<%= image %>">
    </div>
    <% end %>
  </div>
