a {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

nav.navbar.navbar-default {
border: none;
}

@media all and ( min-width: 1075px) {
  #mobileLogo img {
    display: none;
  }

  div.socialMobile {
    display: none;
  }
}

@media all and ( max-width: 1075px )
{
  div.socialMobile {
    display: none;
  }

  #logo img {
    position: absolute;
    top: 0;
    left: -432px;
    visibility: hidden;
  }

    li#logo.link {
  display: none;
  }

  li.link.nonlogo1.quarter {
  width: 25%;
  text-align: center;
}

  #mobileLogo {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
    height:120px;
  }

  #mobileLogo img {
    width: 200px;
    margin: auto;
  }

  .navbar.navbar-default {
    margin-bottom: 0px;
  }

  .navbar-header {
    background-color: white;
  }

  li.link.nonlogo1.quarter p {
    display: none;
  }

  li.link.nonlogo1.quarter.mobile p {
    display: none;
  }

  .aboutInfo p {
    width: 74%;
    font-size: 20px;
    margin: auto;
    text-align: center;
  }

  #contact p {
width: 80%;
text-align: center;
margin: auto;
}

  div.aboutLeft1 {
    margin-left: 0;
  }
}

@media all and (max-width: 768px ) {

  div.social {
    display: none;
  }

  div.socialMobile {
    text-align: center;
    margin-top: 20px;
  }

  #logo img {
    position: absolute;
    top: 0;
    left: 0px;
    visibility: hidden;
  }


  li.link.nonlogo1.quarter.mobile {
    width: 100%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }

  li.link.nonlogo1.quarter.mobile a {
    text-align: center;
  }

  ul.nav.navbar-nav.navbar-left.new.here {
    width: 100%;
    height: 340px;
    margin-left: 0%;
    font-family: 'PT Sans', sans-serif;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
  }

  li#about:hover ul.nav.navbar-nav.navbar-left.new.here {
    height: 340px;
  }

  div#imageBorder1 {
    height: 400px;
  }

  div.aboutImage1 {
    height: 415px;
  }

  div.aboutLeft1 {
    margin-left: 0;
  }

  div#nameTag3 {
    display:none;
  }

  div.containerHome.new {
    width: 80%;
    background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
    background-size: cover;
    margin: auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
    height: 415px;
  }

  div.introHome.new {
    width: 100%;
    margin: 7px;
    border: 2px solid white;
    text-align: center;
    color: white;
    height: 400px;
  }

  div#footer {
    display: none;
  }

  div#middle1.mobile {
    width: 100%;
    height: 510px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  }

}

@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio : 2)
  {

    div.social {
      display: none;
    }
    div.socialMobile {
text-align: center;
margin-top: 20px;
}

#logo img {
  position: absolute;
  top: 0;
  left: 0px;
  visibility: hidden;
}

li#about:hover ul.nav.navbar-nav.navbar-left.new.here {
  height: 340px;
}


li.link.nonlogo1.quarter.mobile {
  width: 100%;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

li.link.nonlogo1.quarter.mobile a {
  text-align: center;
}

ul.nav.navbar-nav.navbar-left.new.here {
  width: 100%;
  height: 340px;
  margin-left: 0%;
  font-family: 'PT Sans', sans-serif;
  border-bottom: 1px solid grey;
  margin-bottom: 25px;
}

div#imageBorder1 {
  height: 400px;
}

div.aboutImage1 {
  height: 415px;
}

div.aboutLeft1 {
  margin-left: 0;
}

div#nameTag3 {
  display:none;
}

div.containerHome.new {
  width: 80%;
  background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
  background-size: cover;
  margin: auto;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  height: 415px;
}

div.introHome.new {
  width: 100%;
  margin: 7px;
  border: 2px solid white;
  text-align: center;
  color: white;
  height: 400px;
}

div#footer {
  display: none;
}

div#middle1.mobile {
  width: 100%;
  height: 510px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}


  }

@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 2)
  {

div.socialMobile {
text-align: center;
margin-top: 20px;
}
    div.social {
      display: none;
    }

  #logo img {
    position: absolute;
    top: 0;
    left: 0px;
    visibility: hidden;
  }


  li.link.nonlogo1.quarter.mobile {
    width: 100%;
    text-align: center;
font-family: 'PT Sans', sans-serif;  }

  li.link.nonlogo1.quarter.mobile a {
    text-align: center;
  }

  ul.nav.navbar-nav.navbar-left.new.here {
    width: 100%;
    height: 340px;
    margin-left: 0%;
font-family: 'PT Sans', sans-serif;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
  }

  li#about:hover ul.nav.navbar-nav.navbar-left.new.here {
    height: 340px;
  }

  div#imageBorder1 {
    height: 400px;
  }

  div.aboutImage1 {
    height: 415px;
  }

  div.aboutLeft1 {
    margin-left: 0;
  }

  div#nameTag3 {
    display:none;
  }

  div.containerHome.new {
    width: 80%;
    background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
    background-size: cover;
    margin: auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
    height: 415px;
  }

  div.introHome.new {
    width: 100%;
    margin: 7px;
    border: 2px solid white;
    text-align: center;
    color: white;
    height: 400px;
  }

  div#footer {
    display: none;
  }

  div#middle1.mobile {
    width: 100%;
    height: 510px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  }

 }

input:focus {outline:none;}
textarea:focus {outline:none;}

input {
  // border: 3px solid grey;
  color: black;
}

.aboutLeft1 {
margin-left: 9%;
margin-bottom: 100px;
}

.row.about {
margin-bottom: 100px;
}

.aboutInfo p {
width: 86%;
font-size: 20px;
}

div#header {
width: 100%;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

div#title1 {
margin: auto;
margin-bottom: 30px;
margin-top: 80px;
font-size: 30px;
color: rgba(4,30,66,0.8);
border-bottom: 1px solid rgba(4,30,66,0.8);
font-family: 'Quicksand', sans-serif;
}

.aboutImage1 {
  width: 80%;
height: 640px;
background-image: asset-data-url("Brooke4.jpg");
background-size: cover;
margin: auto;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
 border-color: 1px solid white;
}

#imageBorder1 {
  width: 100%;
  margin: 7px;
border: 2px solid rgba(4,30,66,1);
}

#messageArea {
height: 300px;
width: 75%;

color: black;
font-family: 'PT Sans', sans-serif;
}

a.navbar-brand {
margin-top: -50px;
margin-bottom: 30px;
}

div#navbar-collapse-1 {
border: none;
}

ul.nav.navbar-nav.navbar-left {
width: 80%;
margin-left: 10%;
}

li.link.nonlogo1 {
width: 15%;
text-align: center;
font-family: 'PT Sans', sans-serif;
}

li#logo {
width: 40%;
margin-top: -2px;
display: flex;
height: 100px;

}

.navbar-default div div#logo {
display: none;
}

.navbar-left {
height: 100px;
}

#logo img {
width: 300px;
margin: auto;
}

.navbar-default {
background-color: #f8f8f8;
border: none;
}

li.link.nonlogo1 {
margin-top: 20px;
}

div#listings {
font-size: 50px;
text-align: center;
margin-top: 160px;
margin-bottom: 260px;
}

div#form {
text-align: center;
font-family: 'PT Sans', sans-serif;
}

textarea#user_message {
height: 300px;
width: 500px;
font-family: 'PT Sans', sans-serif;
}

div#body {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  width: 100%;
}

.container3 {
width: 80%;
margin: auto;
background-color: rgba(4,30,66,1);
margin-bottom: 100px;
}

div#form {
margin: 7px;
border: 2px solid white;
padding: 20px;
color: white;
}

input[type="submit"] {
background-color: white;
border: 1px solid grey;
font-family: 'Quicksand', sans-serif;
color: black;
width: 24%;
}

label {
  font-family: 'Quicksand', sans-serif;
}

.item {
width: 905;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
line-height: 1;
margin: auto;
}


body {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

div#window {
  width: 99%;
  margin: 7px;
  border: 2px solid rgba(4,30,66,1);
  border-right: 2px solid rgba(4,30,66,1);
}

div#menu {
  margin-left: 5%;
  width: 90%;
  height: 125;
  display: inline-flex;
font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}

.menuLink {
  width: 20%;
  height: 125;
  display: inline-flex;
  text-decoration: none;
}

.menuLinkContents {
  margin: auto;
  display: inline-block;
}

#logo {
  position: relative;
  top: 0;

}

#logo img {
  width: 250;
  height: 125;
  }

li#logo a {
padding: 0;
text-align: center;
}

.navbar-default .navbar-nav>li>a {
color: rgba(4,30,66,1);
font-size: 12px;
padding-bottom: 0px;
}

.menulink a {
  text-decoration: none;
}

.menuLink a p {
  margin: auto;
  width:100%;
  text-decoration: none;
  color: rgba(4,30,66,1);
  font-size: 20px;
  letter-spacing: 3;
  text-align: center;
}

.menuLink h6 {
  margin: auto;
  width: 100%;
  font-size: 11px;
  text-align: center;
  padding-top: 5;
}

div#middle1 {
  width: 100%;
  height: 500px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  margin-bottom: 100px;
}

.containerHome.new {
  width: 70.5%;
  height: 500px;
  // background-image: asset-data-url("BHM2.jpg");
  // background-size: cover;
  margin: auto;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  margin-top: 75px;
}

.introHome.new {
  position:absolute;
  width: 58.6%;
  height:429px;
  margin: 7px;
  border: 2px solid white;
  text-align: center;
font-family: 'PT Sans', sans-serif;
  color: white;
}

div#intro h1 {
  position: relative;
  font-size: 50px;
  top: 75px;
}

div#intro p {
position: relative;
width: 70%;
top: 90px;
font-size: 25px;
word-wrap: inherit;
margin: auto;
letter-spacing: 2px;
}

div#intro p italic {
font-family: 'PT Sans', sans-serif;
}

footer {
display: block;
position: absolute;
width: 100%;
background-color: rgba(4,30,66,1);
left: 0;
margin-top: 10px;
padding-bottom: 100px;
font-family: 'Quicksand', sans-serif;
  display: flex;
}

div#copyright2 {
font-family: 'Quicksand', sans-serif;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
height:120px;color: white;
text-align: center;
}

div#copyright2 {
width: 100%;
margin: auto;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

div#copyright2 p {
text-align: center;
margin: auto;
width: 100%;
font-family: 'PT Sans', sans-serif;
color: white;
padding-top: 25px;
}

div#copyright2 p a {
  text-decoration: none;
  color: white;
}

div#navbar-collapse-1 {
background-color: white;
}

.social1 {
position: fixed;
right: 28px;
top: 130px;
width: 21px;
}

.social1 a img {
padding-top: 20px;
}

.instagram {
width: 100%;
display: inline;
}

div#instagramHolder {
width: 80%;
margin: auto;
}

.instagram img {
width: 20%;
}


div.sub {
position: relative;
background-color: black;
color: white;
width: 150px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

div#footerText {
margin: auto;
padding-top: 20px;
}

div.sub a {
  color: white;
  text-decoration: none;
font-family: 'Quicksand', sans-serif;
}

div#footerText a {
color: white;
font-family: 'Quicksand', sans-serif;
}

div#contact {
text-align: center;
font-size: 20px;
font-family: 'Quicksand', sans-serif;
margin-top: 100px;
}

div#linebreak1 {
width: 50%;
border-bottom: 1px solid grey;
margin: auto;
padding: 5px;
margin-bottom: 11px;
}

.blogUL {
  display: none;
  list-style: none;
text-align: center;
padding-left: 0;
padding-top: 10px;
background-color: white;
}

.aboutUL {
  display: none;
  list-style: none;
text-align: center;
padding-left: 0;
padding-top: 10px;
background-color: white;
}

li.drop {
  padding: 10px;
}

.aboutUL li a {
  font-family: 'Quicksand', sans-serif;
  color: rgba(4,30,66,1);
  font-size: 12px;
  padding-bottom: 0px;
  text-decoration: none;
  padding: 10px;
}

.blogUL li a {
  font-family: 'Quicksand', sans-serif;
  color: rgba(4,30,66,1);
  font-size: 12px;
  padding-bottom: 0px;
  text-decoration: none;
}

.hovered {
  width: 100%;
height: 340px;
margin-left: 0%;
font-family: 'Quicksand', sans-serif;
border-bottom: 1px solid grey;
margin-bottom: 25px;
}

.rotating-item {
	display: none;
  position: absolute;
  width: 60%;
  }
