a {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

nav.navbar.navbar-default {
border: none;
}

@media screen and (min-width: 768px) {
.navbar-collapse.collapse {
  display: flex!important;
}
}

@media screen and (min-width: 1925px) {
  div#layout4 {
  height: 1000px;
}

div#top.layout3 {
  height: 673px;
}

div#layout2 {
  height: 1100px;
}

div#layout1 {
  height: 1050px;
}

}

@media screen and ( min-width: 1800px) {
  div#layout4 {
  height: 925px;
}

div#top.layout3 {
  height: 630px;
}

div#layout2 {
  height: 1025px;
}

div#layout1 {
  height: 1000px;
}

}

@media all and ( min-width: 1700px) {
  div#layout4 {
  height: 902px;
}

div#top.layout3 {
  height: 601px;
}

div#layout1 {
  height: 940px;
}

}

@media all and ( min-width: 1470px) {
  div#top.layout3 {
  height: 549px;
}

div#layout3 {
  height: 900px;
}

div#layout2 {
  height: 975px;
}
div#layout1 {
  height: 840px;
}

div#layout4 {
  height: 800px;
}
}

@media all and ( min-width: 1470px) {
  div#layout2 {
  height: 975px;
}

div#layout1 {
  height: 800px;
}

div#top.layout3 {
  height: 518px;
}
}

@media all and ( min-width: 1370px) {
  div#layout4 {
  height: 775px;
}

div#layout1 {
  height: 775px;
}

div#top.layout3 {
  height: 448px;
}
}

@media all and ( min-width: 1075px) {
  #mobileLogo img {
    display: none;
  }

  div.socialMobile {
    display: none;
  }

  .navbar-left.new.here.menu {
  height: 100px;
  margin: auto;
  width: 80%;
    display: -webkit-box!important;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box!important;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox!important;      /* TWEENER - IE 10 */
  display: -webkit-flex!important;     /* NEW - Chrome */
  display: flex!important;
}

div#navbar-collapse-1 {
  background-color: white;
  width: 100%;
      display: -webkit-box!important;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box!important;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox!important;      /* TWEENER - IE 10 */
    display: -webkit-flex!important;     /* NEW - Chrome */
    display: flex!important;
}

nav.navbar.navbar-default {
  border: none;
      display: -webkit-box!important;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box!important;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox!important;      /* TWEENER - IE 10 */
    display: -webkit-flex!important;     /* NEW - Chrome */
    display: flex!important;
}
nav.navbar.navbar-default {
      display: -webkit-box!important;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box!important;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox!important;      /* TWEENER - IE 10 */
    display: -webkit-flex!important;     /* NEW - Chrome */
    display: flex!important;
}

}

@media all and ( max-width: 1075px )
{

  // div#navbar-collapse-1 {
  //   background-color: white;
  //   width: 100%;
  //       display: -webkit-box!important;      /* OLD - iOS 6-, Safari 3.1-6 */
  //     display: -moz-box!important;         /* OLD - Firefox 19- (buggy but mostly works) */
  //     display: -ms-flexbox!important;      /* TWEENER - IE 10 */
  //     display: -webkit-flex!important;     /* NEW - Chrome */
  //     display: flex!important;
  // }
  //
  // nav.navbar.navbar-default {
  //   border: none;
  //       display: -webkit-box!important;      /* OLD - iOS 6-, Safari 3.1-6 */
  //     display: -moz-box!important;         /* OLD - Firefox 19- (buggy but mostly works) */
  //     display: -ms-flexbox!important;      /* TWEENER - IE 10 */
  //     display: -webkit-flex!important;     /* NEW - Chrome */
  //     display: flex!important;
  // }

  div#top.layout3 {
  height: 302px;
}

div#layout3 {
  width: 70%;
  margin: auto;
  height: 725px;
}

div#layout2 {
  width: 70%;
  margin: auto;
  height: 800px;
}

div#layout1 {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  height: 525px;
}

  div.socialMobile {
    display: none;

  }

  #logo img {
    position: absolute;
    top: 0;
    left: -432px;
    visibility: hidden;
  }

    li#logo.link {
  display: none;
  }

  li.link.nonlogo1.quarter {
  width: 25%;
  text-align: center;
}

  #mobileLogo {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
    height:120px;
  }

  #mobileLogo img {
width: 200px;
margin: auto;
padding-top: 50px;
}

  .navbar.navbar-default {
    margin-bottom: 0px;
  }

  .navbar-header {
    background-color: white;
  }

  li.link.nonlogo1.quarter p {
    display: none;
  }

  li.link.nonlogo1.quarter.mobile p {
    display: none;
  }

  .aboutInfo p {
    width: 74%;
    font-size: 20px;
    margin: auto;
    text-align: center;
  }

  #contact p {
width: 80%;
text-align: center;
margin: auto;
}

  div.aboutLeft1 {
    margin-left: 0;
  }

  div#holder2 {
margin-top: 50px;
margin-bottom: 75px;
}

  div#instagramTitle2 {
  width: 60%;
  margin-left: 53%;
  }

  .aboutImage1 {
  width: 57%;
}

  .aboutInfo {
  width: 78%;
  margin: auto;
  }

  .navbar-left {
  height: 100px;
  margin: auto;
}

ul#menu {
  width: 80%;
}

div#contact.quarter {
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container3.quarter {
  width: 64%;
  margin: auto;
  background-color: #041e42;
  margin-bottom: 40px;
}

.aboutImage1.quater {
  width: 50%;
  height: 640px;
  margin: auto;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
  margin-bottom: 50px;
}

}

@media all and (max-width: 768px ) {

  div.social {
    display: none;
  }

  div.socialMobile {
    text-align: center;
    margin-top: 20px;
    z-index: 5;
  }

  #logo img {
    position: absolute;
    top: 0;
    left: 0px;
    visibility: hidden;
  }


  li.link.nonlogo1.quarter.mobile {
    width: 100%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }

  li.link.nonlogo1.quarter.mobile a {
    text-align: center;
  }

  ul.nav.navbar-nav.navbar-left.new.here {
    width: 100%;
    height: 340px;
    margin-left: 0%;
    font-family: 'PT Sans', sans-serif;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
  }

  li#about:hover ul.nav.navbar-nav.navbar-left.new.here {
    height: 340px;
  }

  div#imageBorder1 {
    height: 400px;
  }

  div.aboutImage1 {
    height: 415px;
  }

  div.aboutLeft1 {
    margin-left: 0;
  }

  div#nameTag3 {
    display:none;
  }

  // div.containerHome.new {
  //   width: 80%;
  //   background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
  //   background-size: cover;
  //   margin: auto;
  //   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  // display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  // display: -ms-flexbox;      /* TWEENER - IE 10 */
  // display: -webkit-flex;     /* NEW - Chrome */
  // display: flex;
  //   height: 415px;
  // }

  div.introHome.new {
    width: 100%;
    margin: 7px;
    border: 2px solid white;
    text-align: center;
    color: white;
    height: 400px;
  }

  div#footer {
    display: none;
  }

  div#middle1.mobile {
    width: 100%;
    height: 510px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  }

  div.aboutLeft1 {
    margin-left: 0;
  }

  .insta2.mobile {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  margin-left: 0px;
  }

  .insta2.mobile img {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-bottom: 20px;
  }

    .wrap.mobile {
  margin-top: 50px;
  margin-bottom: 75px;

  }

.instaTitle2.mobile {
  width: 38%;
  margin-left: 46%;
  padding: 20px;
  padding-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
}

.instaTitle3.mobile {
  width: 40%;
  margin-left: 32%;
  padding: 20px;
  padding-top: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.aboutImage1.mobile {
  height: 415px;
  width: 72%;
}

  .aboutInfo.mobile {
  width: 78%;
  margin: auto;
  padding-top: 40px;
}

.container3.mobile {
  width: 75%;
  margin: auto;
  background-color: #041e42;
  margin-bottom: 100px;
  margin-top: 50px;
}

.contactInfo {
  width: 76%;
  margin: auto;
  padding: 5px;
}

ul#menu {
  width: 100%;
}

div#copyright2 {
  width: 75%;
}

div#layout4 {
  width: 70%;
  margin: auto;
  height: 908px;
  margin-bottom: 75px;
}

div#left.layout4 {
  border-right: none;
  width: 100%;
  margin: auto;
  padding-right: 0;
}

div#postButton4 {
  margin-bottom: 10px;
}

div#right.layout4 {
  border-left: none;
}

div#right.layout4 {
  width: 100%;
  padding-left: 0px;
  margin-bottom: 50px;
  border-left: none;
}

div#top.layout3 {
  height: 137px;
}

div#bottomLeft {
  width: 100%;
  float: left;
}

div#postBlurb2 {
  text-align: center;
  border-right: none;
  padding-right: 0;
  margin-bottom: 15px;
}

div#bottomRight {
  width: 100%;
  float: left;
  padding-left: 0px;
  padding-top: 20px;
  border-top: 1px solid #041e42;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

div#postButton1 {
  margin-left: 25%;
}

div#layout3 {
  width: 70%;
  margin: auto;
  height: 725px;
}

div#layout2 {
  width: 70%;
  margin: auto;
  height: 725px;
}

div#left.layout1 {
  float: left;
  width: 100%;
  padding-right: 0px;
  border-right: none;
  padding-top: 20px;
  border-top: 1px solid #041e42;
  margin-bottom: 15px;
}

div#right.layout1 {
  width: 100%;
  float: left;
  padding-left: 0px;
  padding-top: 10px;
  border-top: 1px solid #041e42;
  text-align: center;
}

div#postButton1 {
  margin-bottom: 10px;
}

div#layout1 {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  height: 910px;
}

.search.mobile {
  position: relative;
  left: 16px;
  top: -153px;
  padding-right: 28px;
  color: #041e42;
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
  z-index: 10;
}

.search.mobile form {
  margin-top: 10px;
}

div#right.layout4 {
  border-left: none;
}
}

// @media only screen
//     and (min-device-width : 375px)
//     and (max-device-width : 667px)
//     and (orientation : landscape)
//     and (-webkit-min-device-pixel-ratio : 2)
//   {
//
//     div.social {
//       display: none;
//     }
//     div.socialMobile {
// text-align: center;
// margin-top: 20px;
// }
//
// #logo img {
//   position: absolute;
//   top: 0;
//   left: 0px;
//   visibility: hidden;
// }
//
// li#about:hover ul.nav.navbar-nav.navbar-left.new.here {
//   height: 340px;
// }
//
//
// li.link.nonlogo1.quarter.mobile {
//   width: 100%;
//   text-align: center;
//   font-family: 'PT Sans', sans-serif;
// }
//
// li.link.nonlogo1.quarter.mobile a {
//   text-align: center;
// }
//
// ul.nav.navbar-nav.navbar-left.new.here {
//   width: 100%;
//   height: 340px;
//   margin-left: 0%;
//   font-family: 'PT Sans', sans-serif;
//   border-bottom: 1px solid grey;
//   margin-bottom: 25px;
// }
//
// div#imageBorder1 {
//   height: 400px;
// }
//
// div.aboutImage1 {
//   height: 415px;
// }
//
// div.aboutLeft1 {
//   margin-left: 0;
// }
//
// div#nameTag3 {
//   display:none;
// }
//
// div.containerHome.new {
//   width: 80%;
//   background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
//   background-size: cover;
//   margin: auto;
//   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//   display: -ms-flexbox;      /* TWEENER - IE 10 */
//   display: -webkit-flex;     /* NEW - Chrome */
//   display: flex;
//   height: 415px;
// }
//
// div.introHome.new {
//   width: 100%;
//   margin: 7px;
//   border: 2px solid white;
//   text-align: center;
//   color: white;
//   height: 400px;
// }
//
// div#footer {
//   display: none;
// }
//
// div#middle1.mobile {
//   width: 100%;
//   height: 510px;
//   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//   display: -ms-flexbox;      /* TWEENER - IE 10 */
//   display: -webkit-flex;     /* NEW - Chrome */
//   display: flex;
// }
// div.aboutLeft1 {
//   margin-left: 0;
// }
//
// div#holder2 {
// margin-top: 50px;
// margin-bottom: 75px;
// }
//
// div#instagramTitle2 {
// width: 91%;
// margin-left: 14%;
// padding: 20px;
// font-family: 'Quicksand', sans-serif;
// font-size: 17px;
// }
//
// .aboutImage1 {
// width: 57%;
// }
//
// .aboutInfo {
// width: 78%;
// margin: auto;
// }
//
// .instagram2 {
//   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
// display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
// display: -ms-flexbox;      /* TWEENER - IE 10 */
// display: -webkit-flex;     /* NEW - Chrome */
// display: flex;
// }
//
// .instagram2 img {
// width: 200px;
// height: 200px;
// margin: auto;
// margin-bottom: 20px;
// }
//
//
//
//   }
//
// @media only screen
//     and (min-device-width : 375px)
//     and (max-device-width : 667px)
//     and (orientation : portrait)
//     and (-webkit-min-device-pixel-ratio : 2)
//   {
//
// div.socialMobile {
// text-align: center;
// margin-top: 20px;
// }
//     div.social {
//       display: none;
//     }
//
//   #logo img {
//     position: absolute;
//     top: 0;
//     left: 0px;
//     visibility: hidden;
//   }
//
//
//   li.link.nonlogo1.quarter.mobile {
//     width: 100%;
//     text-align: center;
// font-family: 'PT Sans', sans-serif;  }
//
//   li.link.nonlogo1.quarter.mobile a {
//     text-align: center;
//   }
//
//   ul.nav.navbar-nav.navbar-left.new.here {
//     width: 100%;
//     height: 340px;
//     margin-left: 0%;
// font-family: 'PT Sans', sans-serif;
//     border-bottom: 1px solid grey;
//     margin-bottom: 25px;
//   }
//
//   li#about:hover ul.nav.navbar-nav.navbar-left.new.here {
//     height: 340px;
//   }
//
//   div#imageBorder1 {
//     height: 400px;
//   }
//
//   div.aboutImage1 {
//     height: 415px;
//   }
//
//   div.aboutLeft1 {
//     margin-left: 0;
//   }
//
//   div#nameTag3 {
//     display:none;
//   }
//
//   div.containerHome.new {
//     width: 80%;
//     background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
//     background-size: cover;
//     margin: auto;
//     display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//   display: -ms-flexbox;      /* TWEENER - IE 10 */
//   display: -webkit-flex;     /* NEW - Chrome */
//   display: flex;
//     height: 415px;
//   }
//
//   div.introHome.new {
//     width: 100%;
//     margin: 7px;
//     border: 2px solid white;
//     text-align: center;
//     color: white;
//     height: 400px;
//   }
//
//   div#footer {
//     display: none;
//   }
//
//   div#middle1.mobile {
//     width: 100%;
//     height: 510px;
//     display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
//   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
//   display: -ms-flexbox;      /* TWEENER - IE 10 */
//   display: -webkit-flex;     /* NEW - Chrome */
//   display: flex;
//   }
//
//   div.aboutLeft1 {
//     margin-left: 0;
//   }
//
//   div#wrap {
// margin-top: 50px;
// margin-bottom: 75px;
//
// }
//
// div#instaTitle2 {
// width: 91%;
// margin-left: 14%;
// padding: 20px;
// font-family: 'Quicksand', sans-serif;
// font-size: 17px;
// }
//
//   .aboutImage2 {
//   width: 57%;
// }
//
//   .aboutInfo {
//   width: 78%;
//   margin: auto;
//   }
//
// div#insta2 {
//   display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
// display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
// display: -ms-flexbox;      /* TWEENER - IE 10 */
// display: -webkit-flex;     /* NEW - Chrome */
// display: flex;
// }
//
// div#insta2 img {
// width: 200px;
// height: 200px;
// margin: auto;
// margin-bottom: 20px;
// }
//
//
//  }







input:focus {outline:none;}
textarea:focus {outline:none;}

input#user_name {
color: black;
}
input#user_email {
color: black;
}

input {
  // border: 3px solid grey;
  color: black;
}

.aboutLeft1 {
margin-left: 9%;
}

.aboutInfo p {
  width: 86%;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  word-spacing: 3px;
  line-height: 30px;
  text-align: center;
}

div#header {
width: 100%;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

div#title1 {
margin: auto;
margin-bottom: 30px;
margin-top: 80px;
font-size: 30px;
color: rgba(4,30,66,0.8);
font-family: 'Quicksand', sans-serif;
}

.aboutImage1 {
  width: 80%;
height: 640px;
background-image: asset-data-url("Brooke4.jpg");
background-size: cover;
margin: auto;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
 border-color: 1px solid white;
}

#imageBorder1 {
  width: 100%;
  margin: 7px;
border: 2px solid rgba(4,30,66,1);
}

#messageArea {
height: 300px;
width: 75%;

color: black;
font-family: 'PT Sans', sans-serif;
}

a.navbar-brand {
margin-top: -50px;
margin-bottom: 30px;
}

div#navbar-collapse-1 {
border: none;
  background-color: white;
  width: 100%;
}

ul.nav.navbar-nav.navbar-left {

}

li.link.nonlogo1 {
width: 15%;
text-align: center;
font-family: 'PT Sans', sans-serif;
}

li#logo {
width: 40%;
margin-top: -2px;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;

height: 100px;

}

.navbar-default div div#logo {
display: none;
}

.navbar-left {
height: 100px;
}

#logo img {
width: 300px;
margin: auto;
}

.navbar-default {
background-color: #f8f8f8;
border: none;
}

li.link.nonlogo1 {
margin-top: 20px;
}

div#listings {
font-size: 50px;
text-align: center;
margin-top: 160px;
margin-bottom: 260px;
font-family: 'PT Sans', sans-serif;
}

div#form {
text-align: center;
font-family: 'PT Sans', sans-serif;
}

textarea#user_message {
height: 300px;
width: 500px;
font-family: 'PT Sans', sans-serif;
}

div#body {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  width: 100%;
}

.container3 {
width: 80%;
margin: auto;
background-color: rgba(4,30,66,1);
margin-bottom: 100px;
}

div#form {
margin: 7px;
border: 2px solid white;
padding: 20px;
color: white;
}

input[type="submit"] {
background-color: white;
border: 1px solid grey;
font-family: 'Lato', sans-serif;
color: black;
width: 24%;
}

label {
  font-family: 'Lato', sans-serif;
}

.item {
width: 905;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
line-height: 1;
margin: auto;
}


body {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  position: relative;
}

div#window {
  width: 99%;
  margin: 7px;
  border: 2px solid rgba(4,30,66,1);
  border-right: 2px solid rgba(4,30,66,1);
  position:relative;
}

div#menu {
  margin-left: 5%;
  width: 90%;
  height: 125;
  display: inline-flex;
font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}

.menuLink {
  width: 20%;
  height: 125;
  display: inline-flex;
  text-decoration: none;
}

.menuLinkContents {
  margin: auto;
  display: inline-block;
}

#logo {
  position: relative;
  top: 0;

}

#logo img {
  width: 250;
  height: 125;
  }

li#logo a {
padding: 0;
text-align: center;
}

.navbar-default .navbar-nav>li>a {
color: rgba(4,30,66,1);
font-size: 14px;
padding-bottom: 0px;
}

.menulink a {
  text-decoration: none;
}

.menuLink a p {
  margin: auto;
  width:100%;
  text-decoration: none;
  color: rgba(4,30,66,1);
  font-size: 20px;
  letter-spacing: 3;
  text-align: center;
}

.menuLink h6 {
  margin: auto;
  width: 100%;
  font-size: 11px;
  text-align: center;
  padding-top: 5;
}

div#middle1 {
width: 60%;
margin: auto;
}

.containerHome.new {

}

.introHome.new {

}

div#intro h1 {
  position: relative;
  font-size: 50px;
  top: 75px;
}

div#intro p {
position: relative;
width: 70%;
top: 90px;
font-size: 25px;
word-wrap: inherit;
margin: auto;
letter-spacing: 2px;
}

div#intro p italic {
font-family: 'PT Sans', sans-serif;
}

footer {
display: block;
position: absolute;
width: 100%;
background-color: rgba(4,30,66,1);
left: 0;
margin-top: 10px;
padding-bottom: 100px;
font-family: 'Lato', sans-serif;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
}

div#copyright2 {
font-family: 'Lato', sans-serif;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
height:120px;color: white;
text-align: center;
}

div#copyright2 {
width: 100%;
margin: auto;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

div#copyright2 p {
text-align: center;
margin: auto;
width: 100%;
font-family: 'PT Sans', sans-serif;
color: white;
padding-top: 25px;
}

div#copyright2 p a {
  text-decoration: none;
  color: white;
}

div#navbar-collapse-1 {
background-color: white;
}

.social1 {
position: fixed;
right: 28px;
top: 200px;
width: 21px;
z-index: 5;
}

.social1 a img {
padding-top: 20px;
z-index: 5;
}

.wrap {
  margin-top: 50px;
  margin-bottom: 100px;
}

.insta2 {
width: 100%;
display: inline;
margin-left: 2.4%;
margin-right: 2.4%;
}

.instaHolder2 {
width: 90%;
margin: auto;
margin-bottom: 4.5%;
}

.insta2 img {
width: 15%;
}


div.sub {
position: absolute;
bottom: 0;
background-color: rgba(4,30,66,1);
color: white;
width: 150px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
left: 50px;
}

div#footerText {
margin: auto;
padding-top: 20px;
}

div.sub a {
  color: white;
  text-decoration: none;
font-family: 'Lato', sans-serif;
}

div#footerText a {
color: white;
font-family: 'Lato', sans-serif;
}

div#contact {
text-align: center;
font-size: 20px;
font-family: 'Lato', sans-serif;
margin-top: 100px;
}

div#linebreak1 {
width: 50%;
border-bottom: 1px solid grey;
margin: auto;
padding: 5px;
margin-bottom: 20px;

}

.blogUL {
  display: none;
  list-style: none;
text-align: center;
padding-left: 0;
padding-top: 10px;
background-color: white;
}

.aboutUL {
  display: none;
  list-style: none;
text-align: center;
padding-left: 0;
padding-top: 10px;
background-color: white;
}

li.drop {
  padding: 10px;
}

.aboutUL li a {
  font-family: 'Lato', sans-serif;
  color: rgba(4,30,66,1);
  font-size: 14px;
  padding-bottom: 0px;
  text-decoration: none;
  padding: 10px;
}

.blogUL li a {
  font-family: 'Lato', sans-serif;
  color: rgba(4,30,66,1);
  font-size: 14px;
  padding-bottom: 0px;
  text-decoration: none;
}

.hovered {
  width: 100%;
height: 340px;
margin-left: 0%;
font-family: 'Lato', sans-serif;
border-bottom: 1px solid grey;
margin-bottom: 25px;
}

.rotating-item {
	display: none;
  position: absolute;
  width: 60%;
  z-index: -1;
  }

.instaTitle2 {
  width: 40%;
  margin-left: 59%;
  padding: 20px;
  padding-bottom: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: lightskyblue;
}

  .instaTitle3 {
  width: 40%;
  margin-left: 59%;
  padding: 20px;
  padding-top: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

footer {
position: absolute;
bottom: -120px;
padding-top: -4px;
}

div#windowCenter {
margin-top: 100px;
width: 100%;
display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
}

#borderHolder2 img {
width: 100%;
}

img.border {
width: 100%;
}

div#holder2{
margin-top: 50px;
}

li.link.nonlogo1 a:hover {
color: #c1c6c8;
}

div#titleContact {
  margin: 20px;
}

div#phoneContact {
  margin: 20px;
}

/* layout1 */
div#layout1 {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  height: 675px;
}

div#left {
  float: left;
  width: 50%;
  padding-right: 20px;
  border-right: 1px solid rgba(4,30,66,1);
  padding-top: 20px;
  border-top: 1px solid rgba(4,30,66,1);
}

div#leftImage {
  width: 100%;
}

div#leftImage img {
  width: 100%;
}

div#right {
  width: 50%;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(4,30,66,1);
}

.layout1.info {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #041e42;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 25px;
}

div#postButton1 {
  margin-top: 10px;
  padding: 20px;
  width: 50%;
  text-align: center;
  /* border: 1px solid grey; */
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background-color: rgba(4,30,66,1);
  text-decoration: none;
  color: white;
}

div#postButton1 a {
  text-decoration: none;
  color: white;
}

div#postTitle1 {
  font-weight: 300;
  font-size: 20px;
}

.layout4.info {
  text-align: center;
}

/* layout2 */
div#layout2 {
  width: 70%;
  margin: auto;
  height: 875px;
}

div#top2 img {
  width: 100%;
}

div#top {
  width: 100%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
  height: 587px;
  margin-top: 75px;
  padding-top: 20px;
  border-top: 1px solid rgba(4,30,66,1);
}

div#top img {
  width: 100%;
  margin: auto;
}

div#bottom {
  width: 100%;
  margin-top: 20px;
}

div#bottomLeft {
  width: 50%;
  float: left;
}

div#postBlurb2 {
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid #041e42;
  padding-top: 20px;
  border-top: 1px solid #041e42;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  line-height: 25px;
}

div#bottomRight {
  width: 50%;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(4,30,66,1);
  font-family: 'Lato', sans-serif;
}

div#postTitle2 {
  border-bottom: 1px solid rgba(4,30,66,1);
  padding-bottom: 10px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

div#postDate2 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(4,30,66,1);
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

div#postButton2 {
  margin-top: 10px;
  padding: 20px;
  width: 50%;
  text-align: center;
  /* border: 1px solid grey; */
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background-color: rgba(4,30,66,1);
  text-decoration: none;
  color: white;
}

div#postButton2 a {
  text-decoration: none;
  color: white;
}

div#postButton1.blogButton:hover {
  background-color: #c1c6c8;
}

div#postButton4.blogButton:hover {
  background-color: #c1c6c8;
}

/* layout3 */

div#layout3 {
  width: 70%;
  margin: auto;
  height: 800px;
}

div#top.layout3 {
  height: 436px;
}

img#pic1 {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(4,30,66,1);
}

img#pic2 {
  padding-left: 10px;
  padding-right: 10px;
}

img#pic3 {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(4,30,66,1);
}

div#top.layout3 img {
  padding-bottom: 10px;
  padding-top: 10px;
}

.layout4.info {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(4,30,66,1);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-align: center;
  line-height: 25px;
}

div#postButton4 {
  margin-top: 10px;
  padding: 20px;
  width: 50%;
  text-align: center;
  /* border: 1px solid grey; */
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  background-color: #041e42;
  text-decoration: none;
  color: white;
  float: right;
  width: 50%;
  margin-right: 25%;
}

div#postButton4 a {
  text-decoration: none;
  color: white;
}

div#left.layout4 {
  border-right: none;
}

div#right.layout4 {
  border-left: 1px solid rgba(4,30,66,1);
}

div#layout4 {
  width: 70%;
  margin: auto;
  height: 650px;
  margin-bottom: 75px;
}

textarea#post_content {
  margin: 0px;
  width: 696px;
  height: 419px;
}

textarea#draft_content {
  margin: 0px;
  width: 696px;
  height: 419px;
}

textarea#post_teaser {
  margin: 0px;
  width: 697px;
  height: 92px;
}

textarea#draft_teaser {
  margin: 0px;
  width: 697px;
  height: 92px;
}

input#post_pictures {
  width: 696px;
}

input#draft_pictures {
  width: 696px;
}

div#postHolder {
  width: 100%;
  margin: auto;
  margin-top: 75px;
  height: 1500px;
  display: inline;
}

div#topImage {
  margin: auto;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
  margin-top: 75px;
}

div#topImage img {
  margin: auto;
  width: 40%;
}

div#contentArea {
  margin: auto;
  width: 48%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
  font-family: 'Lato', sans-serif;
}

div#showTitle {
  width: 40%;
  margin: auto;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid rgba(4,30,66,1);
}

div#showDateCategory {
  width: 60%;
  font-size: 20px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid rgba(4,30,66,1);
}

div#showContent {
  width: 100%;
  font-size: 20px;
  margin: auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid rgba(4,30,66,1);
  line-height: 1.5;
}

div#bottomBuffer {
  height: 150px;
}

.instaTitle3 a {
  text-decoration: none;
  color: rgba(4,30,66,1);
}

.instaTitle3 a:hover {
  color: #c1c6c8;
}

.radioHolder img {
  width: 92%;
  padding-top: 14px;
}

.radioHolder {
  width: 24%;
  margin-top: 10px;
  float: left;
}

div#layoutHolder {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 304px;
}

#new_post input[type="submit"] {
  width: 25%;
  padding: 30px;
  background-color: rgba(4,30,66,1);
  text-align: center;
  margin: 20px;
  color: white;
  border: none;
}

#new_post input[type="submit"]:hover {
  background-color: #c1c6c8;
}

li#addPost {
  width: 25%;
  padding: 30px;
  background-color: rgba(4,30,66,1);
  text-align: center;
  margin: 20px;
}

li#addPost a {
  color: white;
  text-decoration: none;
}

li#addPost:hover {
  background-color: #c1c6c8;
}

div#older {
  float: left;
  width: 50%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
}

div#older a {
  margin: auto;
  text-decoration: none;
  color: white;
  background-color: rgba(4,30,66,1);
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

div#newer {
  float: left;
  width: 50%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;      /* TWEENER - IE 10 */
display: -webkit-flex;     /* NEW - Chrome */
display: flex;
}

div#newer a {
  margin: auto;
  color: white;
  text-decoration: none;
  background-color: rgba(4,30,66,1);
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

div#moreLess {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 70px;
}

div#older a:hover {
  background-color: #c1c6c8;
}

div#newer a:hover {
  background-color: #c1c6c8;
}

.search {
  position: fixed;
  right: 0;
  top: 46px;
  padding-right: 28px;
  color: #041e42;
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
  text-align: right;
  z-index: 10;
}

.search form {
  display: none;
}

form#searchBar {
  position: fixed;
  top: 250px;
  right: 35%;
  width: 30%;
}

div#search {
  padding-right: 23px;
}

div#heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.search form input[type="text"] {
  width: 100%;
  height: 30px;
}

div#formButtonHolder input[type="submit"] {
  margin-bottom: 200px;
}

div#login {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

li#addPost form button {
  border: none;
  background: none;
  color: white;
}

textarea#faq_question {
  margin: 0px;
  width: 703px;
  height: 77px;
}

textarea#faq_answer {
  margin: 0px;
  width: 704px;
  height: 158px;
}

div#faqSection {
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

div#faqHolder {
  margin-bottom: 25px;
}

div#question {
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  text-align: center;
}

div#answer {
  padding: 5px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

div#comment {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.comment {
  width: 60%;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

form#new_comment {
  margin: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  display: none;
}
form#new_comment input[type="submit"] {
  width: 8%;
}

form#new_comment input[type="submit"]:hover {
  background-color: #c1c6c8;
}

div#comments {
  margin: auto;
  width: 60%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid grey;
  padding-bottom: 42px;
  display: none;
}

.comments {
  padding: 5px;
}

::-webkit-input-placeholder {
  color: black;
  font-family: 'Lato', sans-serif;
  padding-left: 21px;
}

:-moz-placeholder {
  color: black;
  font-family: 'Lato', sans-serif;
  padding-left: 21px;
}

::-moz-placeholder {
  color: black;
  font-family: 'Lato', sans-serif;
  padding-left: 21px;
}

:-ms-input-placeholder {
  color: black;
  font-family: 'Lato', sans-serif;
  padding-left: 21px;
}

div#closeSearch {
  position: fixed;
  z-index: 9;
  left: 28px;
  top: 28px;
}

div#closeContact {
  position: fixed;
  z-index: 9;
  left: 28px;
  top: 28px;
}

div#formPopUp {
  position: fixed;
  top: 200px;
  width: 50%;
  left: 24.5%;
  margin-bottom: 400px;
}

div#formMatch form input {
  color: black;
  width: 50%;
  margin: 20px;
}

div#formMatch {
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin: 7px;
  border: 2px solid white;
  padding: 20px;
  color: white;
  width: 98.6%;
}

.container4 {
  width: 60%;
  margin: auto;
  background-color: #041e42;
  margin-bottom: 100px;
  margin-top: 50px;
}

div#matchuser {
  width: 90%;
  margin: auto;
}

div#formMatch form input[type="submit"] {
  width: 25%;
}

div#titleMatch {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 80px;
  font-size: 60px;
  color: rgba(4, 30, 66, 0.8);
  font-family: 'Quicksand', sans-serif;
}

div#matchContainer {
  width: 100%;
}

div#formMatch form input {
  text-align: center;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
