* {
  font-family: 'Fira Sans', sans-serif;
}

@media all and ( min-width: 1075px) {
  #mobileLogo img {
    display: none;
  }

  div.socialMobile {
    display: none;
  }
}

@media all and ( max-width: 1075px )
{
  div.socialMobile {
    display: none;
  }

  #logo img {
    position: absolute;
    top: 0;
    left: -432px;
    visibility: hidden;
  }

  li.link.nonlogo1.quarter {
  width: 25%;
  text-align: center;
  }

  #mobileLogo {
    display: flex;
    height:120px;
  }

  #mobileLogo img {
    width: 200px;
    margin: auto;
  }

  .navbar.navbar-default {
    margin-bottom: 0px;
  }

  .navbar-header {
    background-color: white;
  }

  p {
    display: none;
  }

  div.aboutLeft1 {
    margin-left: 0;
  }
}

@media all and (max-width: 768px ) {

  div.social {
    display: none;
  }

  div.socialMobile {
    text-align: center;
    margin-top: 20px;
  }

  #logo img {
    position: absolute;
    top: 0;
    left: 0px;
    visibility: hidden;
  }


  li.link.nonlogo1.quarter.mobile {
    width: 100%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
  }

  li.link.nonlogo1.quarter.mobile a {
    text-align: center;
  }

  ul.nav.navbar-nav.navbar-left.new.here {
    width: 100%;
    height: 240px;
    margin-left: 0%;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
  }

  div#imageBorder1 {
    height: 400px;
  }

  div.aboutImage1 {
    height: 415px;
  }

  div.aboutLeft1 {
    margin-left: 0;
  }

  div#nameTag3 {
    display:none;
  }

  div.containerHome.new {
    width: 80%;
    background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
    background-size: cover;
    margin: auto;
    display: flex;
    height: 415px;
  }

  div.introHome.new {
    width: 100%;
    margin: 7px;
    border: 2px solid white;
    text-align: center;
    font-family: GothamNarrow;
    color: white;
    height: 400px;
  }

  div#footer {
    display: none;
  }

  div#middle1.mobile {
    width: 100%;
    height: 510px;
    display: flex;
  }

}

@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio : 2)
  {

    div.social {
      display: none;
    }
    div.socialMobile {
text-align: center;
margin-top: 20px;
}

#logo img {
  position: absolute;
  top: 0;
  left: 0px;
  visibility: hidden;
}


li.link.nonlogo1.quarter.mobile {
  width: 100%;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

li.link.nonlogo1.quarter.mobile a {
  text-align: center;
}

ul.nav.navbar-nav.navbar-left.new.here {
  width: 100%;
  height: 240px;
  margin-left: 0%;
  font-family: 'Fira Sans', sans-serif;
  border-bottom: 1px solid grey;
  margin-bottom: 25px;
}

div#imageBorder1 {
  height: 400px;
}

div.aboutImage1 {
  height: 415px;
}

div.aboutLeft1 {
  margin-left: 0;
}

div#nameTag3 {
  display:none;
}

div.containerHome.new {
  width: 80%;
  background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
  background-size: cover;
  margin: auto;
  display: flex;
  height: 415px;
}

div.introHome.new {
  width: 100%;
  margin: 7px;
  border: 2px solid white;
  text-align: center;
  font-family: GothamNarrow;
  color: white;
  height: 400px;
}

div#footer {
  display: none;
}

div#middle1.mobile {
  width: 100%;
  height: 510px;
  display: flex;
}


  }

@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio : 2)
  {

div.socialMobile {
text-align: center;
margin-top: 20px;
}
    div.social {
      display: none;
    }

  #logo img {
    position: absolute;
    top: 0;
    left: 0px;
    visibility: hidden;
  }


  li.link.nonlogo1.quarter.mobile {
    width: 100%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
  }

  li.link.nonlogo1.quarter.mobile a {
    text-align: center;
  }

  ul.nav.navbar-nav.navbar-left.new.here {
    width: 100%;
    height: 240px;
    margin-left: 0%;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
  }

  div#imageBorder1 {
    height: 400px;
  }

  div.aboutImage1 {
    height: 415px;
  }

  div.aboutLeft1 {
    margin-left: 0;
  }

  div#nameTag3 {
    display:none;
  }

  div.containerHome.new {
    width: 80%;
    background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
    background-size: cover;
    margin: auto;
    display: flex;
    height: 415px;
  }

  div.introHome.new {
    width: 100%;
    margin: 7px;
    border: 2px solid white;
    text-align: center;
    font-family: GothamNarrow;
    color: white;
    height: 400px;
  }

  div#footer {
    display: none;
  }

  div#middle1.mobile {
    width: 100%;
    height: 510px;
    display: flex;
  }

 }

div#nameTag3 {
position: relative;
width: 40%;
top: 27px;
margin-left: 0;
background-color: rgba(45, 45, 113, 0.8);
padding: 15px;
text-align: center;
color: white;
font-size: 15px;
font-family: 'Fira Sans', sans-serif;
font-weight: 500;
}

input:focus {outline:none;}
textarea:focus {outline:none;}

input {
  border: 3px solid grey;
  color: black;
}

.aboutLeft1 {
margin-left: 9%;
margin-bottom: 100px;
}

.row.about {
margin-bottom: 100px;
}

.aboutInfo p {
width: 86%;
font-size: 20px;
}

div#header {
width: 100%;
display: flex;
}

div#title {
margin: auto;
margin-bottom: 30px;
margin-top: 40px;
font-size: 30px;
color: rgba(45,45,113,.8);
border-bottom: 1px solid rgba(45,45,113,0.8);
font-family: 'Fira Sans', sans-serif;
}

.aboutImage1 {
  width: 90%;
height: 640px;
background-image: asset-data-url("Brooke4.jpg");
background-size: cover;
margin: auto;
display: flex;
}

#imageBorder1 {
  width: 100%;
  margin: 7px;
border: 2px solid rgba(45,45,113,.8);
}

#messageArea {
height: 300px;
width: 75%;
border: 3px solid grey;
color: black;
font-family: 'Fira Sans', sans-serif;
}

a.navbar-brand {
margin-top: -50px;
margin-bottom: 30px;
}

div#navbar-collapse-1 {
border: none;
}

ul.nav.navbar-nav.navbar-left {
width: 80%;
margin-left: 10%;
}

li.link.nonlogo1 {
width: 19.5%;
text-align: center;
font-family: 'Fira Sans', sans-serif;
}

li#logo {
width: 22%;
}

.navbar-default div div#logo {
display: none;
}

.navbar-left {
height: 100px;
}

#logo img {
width: 192px;
}

.navbar-default {
background-color: #f8f8f8;
border: none;
}

li.link.nonlogo1 {
margin-top: 20px;
}

div#listings {
font-size: 50px;
text-align: center;
margin-top: 160px;
margin-bottom: 260px;
}

div#form {
text-align: center;
font-family: 'Fira Sans', sans-serif;
}

textarea#user_message {
height: 300px;
width: 500px;
}

div#body {
  display: flex;
  width: 100%;
}

div#container1 {
width: 80%;
margin: auto;
background-color: rgba(45,45,113,1);
margin-bottom: 100px;
}

div#form {
margin: 7px;
border: 2px solid white;
padding: 20px;
color: white;
}

input[type="submit"] {
background-color: white;
border: 1px solid grey;
}

.item {
width: 905;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
line-height: 1;
margin: auto;
}

li.link.nonlogo1 a {
font-size: 22px;
}

body {
  display: flex;
}

div#window {
  width: 99%;
  margin: 7px;
  border: 2px solid #00008F;
  border-right: 2px solid #00008F;
}

div#menu {
  margin-left: 5%;
  width: 90%;
  height: 125;
  display: inline-flex;
  font-family: GothamNarrow;
  text-decoration: none;
}

.menuLink {
  width: 20%;
  height: 125;
  display: inline-flex;
  text-decoration: none;
}

.menuLinkContents {
  margin: auto;
  display: inline-block;
}

#logo {
  position: relative;
  top: 0;

}

#logo img {
  width: 250;
  height: 125;
  }

li#logo a {
padding: 0;
text-align: center;
}

.navbar-default .navbar-nav>li>a {
color: rgb(0,0,120);
font-size: 15px;
padding-bottom: 0px;
}

li.link p {
margin: 0 0 10px;
font-size: 12px;
visibility: hidden;
}

li.link:hover p {
  visibility: visible;
}

.menulink a {
  text-decoration: none;
}

.menuLink a p {
  margin: auto;
  width:100%;
  text-decoration: none;
  color: rgb(0,0,120);
  font-size: 20px;
  letter-spacing: 3;
  text-align: center;
}

.menuLink h6 {
  margin: auto;
  width: 100%;
  font-size: 11px;
  text-align: center;
  padding-top: 5;
}

div#middle1 {
  width: 100%;
  height: 710px;
  display: flex;
  margin-bottom: 100px;
}

.containerHome.new {
  width: 80%;
  height: 700px;
  background-image: asset-data-url("overlay.png"), asset-data-url("BHM2.jpg");
  background-size: cover;
  margin: auto;
  display: flex;

}

.introHome.new {
  width: 100%;
  height: 685px;
  margin: 7px;
  border: 2px solid white;
  text-align: center;
  font-family: GothamNarrow;
  color: white;
}

div#intro h1 {
  position: relative;
  font-size: 50px;
  top: 75px;
}

div#intro p {
position: relative;
width: 70%;
top: 90px;
font-size: 25px;
word-wrap: inherit;
margin: auto;
letter-spacing: 2px;
}

div#intro p italic {
  font-family: GothamNarrowItalic;
}

footer {
display: block;
position: absolute;
width: 100%;
background-color: black;
left: 0;
margin-top: 10px;
padding-bottom: 100px;
}

div#copyright1 {
width: 100%;
margin: auto;
opacity: .5;
display: flex;
font-family: 'Fira Sans', sans-serif;
}

div#copyright1 p {
text-align: center;
margin: auto;
width: 100%;
font-family: 'Fira Sans', sans-serif;
color: white;
padding-top: 25px;
}

div#copyright1 p a {
  text-decoration: none;
  color: white;
}

div#navbar-collapse-1 {
background-color: white;
}

.social1 {
position: fixed;
right: 28px;
top: 250px;
width: 21px;
}

.social1 a img {
padding-top: 20px;
}

.instagram {
width: 100%;
display: inline;
}

div#instagramHolder {
width: 80%;
margin: auto;
}

.instagram img {
width: 20%;
}
